college.xml

	<?xml version="1.0"?>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="College">
  	<xs:complexType>
    	<xs:sequence>
      	<xs:element name="CollegeName" type="xs:string"/>
	    <xs:element name="Description" type="xs:string"/>
	    <xs:element name="Expenses" type="xs:int"/>
    	</xs:sequence>
   	</xs:complexType>
    </xs:element>
	</xs:schema>